*{
	font-family: 'Oswald', sans-serif;
}

.aboutImg{
	width: 860px;
	height: 300px !important;
}
.card {
        margin: 0 auto; /* Added */
        float: none; /* Added */
        margin-bottom: 10px; /* Added */
}
.hotels
{
  max-width: 500px;
  margin: auto;
}
.fp{
	margin-top: 400px;
}
